﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ReCaptcha.ascx.cs" Inherits="EasyReCaptcha.WebForms.ReCaptcha" ClassName="EasyReCaptcha.ReCaptcha" %>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6LeqPSgTAAAAAIWYmuvJFeMuX5Bl6QySg6w-L4Op"></div>