﻿@using EasyReCaptcha.MVC
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    @using (Html.BeginForm("Submit", "Home", FormMethod.Post))
    {

        @Html.ReCaptcha(null)
        <label >Enter your name</label>
        <input type="text" />
        <button type="submit">Enter</button>

    }
</div>